<% @clientes.each do |cliente| %>      
      <tr>
        <td colspan="2"><%= cliente.razao_social %></td>
        <td>
          
              <%= link_to 'Segmento', "#collapseSegmentos_#{cliente.id}", role: :button,
                    data: { parent: '#accordion', toggle: :collapse},
                    aria: { controls: :collapseOne, expanded: false }, class: 'btn btn-default'  %>
            
              <div class="collapse" id=<%="collapseSegmentos_#{cliente.id}"%>>
                <% cliente.segmentos.each do |cs| %>                  
                    <%= cs.descricao %>
                    <br />
                <% end %>
              </div>
        </td>
        <td><%= cliente.publicar ? 'publicado': ''  %></td>
        <td>
          <% if cliente.publicar %>
            <%= link_to 'Vender', "/vendas/#{cliente.id}/cliente", class: 'btn btn-success btn-xs', remote: true %>
          <% end %>
          <%= link_to 'Detalhes', cliente, class: 'btn btn-default  btn-xs', remote: true %>
          <%= link_to 'Editar', edit_cliente_path(cliente), class: 'btn btn-default  btn-xs', remote: true %>
          <%= link_to 'Apagar', cliente, method: :delete, remote: true, data: { confirm: 'Deseja proseguir?' }, class: 'btn btn-danger  btn-xs' %>
          
        </td>
      </tr>
    <% end %>

