<div class="sidebar">
  <nav id="menu">
    <ul class='nav nav-pills nav-stacked'>      
      <li> <%= link_to 'Vendas', vendas_path, class: 'btn waves-red waves-effect' %></li>  
      <li> <%= link_to h("Add Cliente"), clientes_path, class: 'btn waves-light'  %></li>
      <li> <%= link_to "Segmentos", segmentos_path, class: 'btn waves-light' %></li>      
      <li> <%= link_to 'Produtos', produtos_path, class: 'btn waves-light' %></li>  
      <li> <%= link_to 'Forma Pag', forma_pagamentos_path, class: 'btn waves-light' %></li>  
      <li> <%= link_to 'Relatório', administrador_path, class: 'btn waves-light' %></li>  
    </ul>
  </nav>
</div>
