
<% if @parcelas_atrasadas %>
	
	<%= paginate @parcelas_atrasadas, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-sm" %>
	
	<table class="table table-striped">
		<thead>
			<th>Cliente</th>			
			<th>Vencimento</th>
			<th>Valor</th>
			<th></th>
		</thead>
		<tbody>
			<% @parcelas_atrasadas.each do |p| %>	
				<tr>
					<td><%= p.venda.cliente.razao_social %></td>
					<td><%= I18n.l(p.vencimento) %></td>
					<td><%= I18n.t(p.valor) %></td>
					<td>
						<%= link_to 'Cliente', cliente_path(p.venda.cliente_id), remote: true,class: 'btn red lighten-1' %>
					</td>
				</tr>
			<% end %>	
		</tbody>
	</table>
<% end %>	