<p id="notice"><%= notice %></p>

<p>
  <strong>Venda:</strong>
  <%= @historico_converca.venda %>
</p>

<p>
  <strong>User:</strong>
  <%= @historico_converca.user %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @historico_converca.descricao %>
</p>

<%= link_to 'Edit', edit_historico_converca_path(@historico_converca) %> |
<%= link_to 'Back', historico_convercas_path %>
