<% if notice %>
    <%= javascript_tag "Materialize.toast('#{notice}', 4000)" %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Administrador', admin_path  %></li>
  <li>Vendas</li>    
</ol>
<% link_to raw("<i class='glyphicon glyphicon-plus'></i>"), new_venda_path, class: 'btn btn-primary btnAdd btnNew', remote: true %>
<div class='cabecalho-index-vendas'>
  <span>
      <%= paginate @vendas, :theme => 'twitter-bootstrap-3',:pagination_class => "pagination-sm" %>    
  </span>
  <span class='search'>
    <%= render 'search' %>    
  </span>
</div>

<hr />
<p>
  Total de <%= @vendas_count %>  
</p>
<hr />

<table class='table table-striped'>
  <thead>
    <tr>      
      <th>Código</th>
      <th>Vendedor</th>
      <th>Cliente</th>
      <th>Produto</th>
      <th>Edição</th>
      <!--<th>Valor total</th>      -->
      <th>Forma pagmento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @vendas %>
      <h2>Não encontramos registros</h2>
    <% else %>
    <% @vendas.each do |venda| %>
      <tr>        
        <td><%= venda.codigo %></td>
        <td><%= venda.user.email %></td>
        <td><%= venda.cliente.razao_social %></td>
        <td>
            <% venda.produtos.each do |p| %>
              <%= p.descricao %><br />
            <% end %>      
        </td>
        <td><%= venda.edicao %></td>
        <!-- <td><%= venda.valor_total %></td>        -->
        <td><%= venda.forma_pagamento.descricao %></td>
        <td>
            <% unless venda.cliente.publicar %>
                <%= link_to 'Publicar', "/cliente-publicar/#{venda.cliente.id}", data: { confirm: 'Deseja proseguir?' }, class: 'btn btn-primary  btn-xs', remote: true %>
            <% else %>
                <%= link_to 'Despublicar', "/cliente-despublicar/#{venda.cliente.id}", data: { confirm: 'Deseja proseguir?' }, class: 'btn btn-warning  btn-xs', remote: true %>
            <% end %>
            <%= link_to 'Detalhes', "venda/show/#{venda.id}",remote: true, class: 'btn btn-default btn-xs' %>
            <%= link_to 'Editar', edit_venda_path(venda),remote: true, class: 'btn btn-default btn-xs' %>
            <%= link_to 'Apagar', venda, method: :delete, remote: true,data: { confirm: 'Deseja continuar?' }, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

